{% extends "main.html" %}

{% block maincontent %}


<div class="row">
    <div class="col-md-12">

        <nav class="navbar navbar-expand-lg navbar-light">

            <span class="navbar-brand">Pages</span>
                
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                       {% if user and user.can_add_cms_pages %}
                        <li class="nav-item"><a class="nav-link" href="/content/edit/"><i class="fa fa-plus"></i> Add new page</a></li>
                       {% endif %}
                    </ul>
                </div>

        </nav>

    </div>
</div>
<div class="row">
    
    <div class="col-md-10">
        <table class="table table-hover">
            <tbody>
                    {% for content in contents %}
                <tr>
                    <td><h4><a href="/content/{{content.id}}">{{content.title}}</a></h4></td>
                    <td class="p-t-20"><span>{{content.content|striptags|safe}}</span></td>
                    <td class="p-t-20"><span>{{content.created_by}}</span></td>
                </tr>
                {% endfor %}
            </tbody>
       
        
      
        </table>
    </div>
</div>
{% endblock %}