<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{app_name}}{% endblock %}</title>
    <link href="{{stylespath}}/bootstrap.min.css" rel="stylesheet"/>
    <link href="{{stylespath}}/ui-bootstrap-csp.css" rel="stylesheet"/>
    <link href="{{stylespath}}/font-awesome.min.css" rel="stylesheet"/>
    <link href="{{stylespath}}/app.min.css" rel="stylesheet"/>
    {% for style in page_styles %}
        <link href="{{stylespath}}/{{style}}" rel="stylesheet"/>
    {% endfor %}
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
      
          {% include "navbar_brand.html" %}
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav mr-auto">

                 <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                 
                 <li class="nav-item"><a class="nav-link" href="/content">Content</a></li>
                 {% if user %}
                 
                 {% if user.subscription == "silver" or user.is_cms_admin %}
                 
                 {% endif %}

                 {% endif %}
                 {% include "navbar_usermanager.html" %}
                 
             </ul>

             {% include "navbar_login.html" %}
         </div>
      
    </nav>
  <div class="container-fluid">
    {% block maincontent %}

    {% endblock %}
  </div>

  {% include "footer.html" %}   

  {% for script in page_scripts %}
  <script src="{{script}}"></script>
  {% endfor %}
  </body>
</html>
