<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}pycoCMS{% endblock %}</title>
    <link href="{{styles}}/bootstrap.min.css" rel="stylesheet"/>
    <link href="{{styles}}/ui-bootstrap-csp.css" rel="stylesheet"/>
    <link href="{{styles}}/font-awesome.min.css" rel="stylesheet"/>
    <link href="{{styles}}/app.min.css" rel="stylesheet"/>
  </head>

  <body>

  <div class="navbar navbar-default">
      <div class="container-fluid">
          <div class="navbar-header">
              <span class="navbar-brand">pycoCMS</span>
          </div>
         <div class="collapse navbar-collapse">
             <ul class="nav navbar-nav">
                 <li><a href="/">Home</a></li>
                 <li><a href="/content">Content</a></li>
                 {% if user.is_cms_admin %}
                 <li><a href="/manage/users">User Manager</a></li>
                 {% endif %}
             </ul>

             <ul class="nav navbar-nav navbar-right">
                    {% if not user %}
                        <li><a href="/login">Login</a></li>
                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{user.name}} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                
                                <li><a href="/user/profile">Profile</a></li>
                                {% if not user.is_cms_admin %}
                                <li><a href="/user/subscription">Subscription</a></li>
                                {% endif %}
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    {% endif %}
            </ul>
         </div>
      </div>
  </div>
  <div class="container-fluid">
    {% block maincontent %}

    {% endblock %}
  </div>

  {% include "footer.html" %}   

  {% for script in page_scripts %}
  <script src="{{script}}"></script>
  {% endfor %}
  </body>
</html>
