<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{app_name}}{% endblock %}</title>
    <link href="{{stylespath}}/bootstrap.min.css" rel="stylesheet"/>
    <link href="{{stylespath}}/ui-bootstrap-csp.css" rel="stylesheet"/>
    <link href="{{stylespath}}/font-awesome.min.css" rel="stylesheet"/>
    <link href="{{stylespath}}/app.min.css" rel="stylesheet"/>
    {% for style in page_styles %}
        <link href="{{stylespath}}/{{style}}" rel="stylesheet"/>
    {% endfor %}
  </head>

  <body>

  <div class="navbar navbar-default">
      <div class="container-fluid">
          {% include "navbar_brand.html" %}
         <div class="collapse navbar-collapse">
             <ul class="nav navbar-nav">

                 <li><a href="/">Home</a></li>
                 
                 <li><a href="/content">Content</a></li>
                 {% if user %}
                 
                 {% if user.subscription == "silver" or user.is_cms_admin %}
                 
                 {% endif %}

                 {% endif %}
                 {% include "navbar_usermanager.html" %}
                 
             </ul>

             {% include "navbar_login.html" %}
         </div>
      </div>
  </div>
  <div class="container-fluid">
    {% block maincontent %}

    {% endblock %}
  </div>

  {% include "footer.html" %}   

  {% for script in page_scripts %}
  <script src="{{script}}"></script>
  {% endfor %}
  </body>
</html>
